* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*Sets background color of all body*/
body {
    background-color: #d9dcd6;
}

/*We delete the class header to add the semantic HTML element instead of a header class in div*/
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/*Changes display and font-size of all h1 elements inside a header*/
header h1 {
    display: inline-block;
    font-size: 48px;
}

/*Changes color of every class seo declared inside an h1 inside a header*/
header h1 .seo {
    color: #d9dcd6;
}

/*Unnecesary div selector deleted and replaced with section*/
header section{
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/*Unnecesary div selector deleted and replaced with section*/
header section ul {
    list-style-type: none;
}

/*Unnecesary div selector deleted and replaced with section*/
header section ul li {
    display: inline-block;
    margin-left: 25px;
}

/*Changes color and eliminates underline of every a element in the document*/
a {
    color: #ffffff;
    text-decoration: none;
}

/*Changes font-size of every p element in the document*/
p {
    font-size: 16px;
}

/*In the HTML added the attribute "Title" to replace the function of the alt altribute on the background image*/
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/*Class made to be called every time we desire an element to be floating left with a 25px margin*/
.float-left {
    float: left;
    margin-right: 25px;
}

/*Class made to be called every time we desire an element to be floating right with a 25px margin*/
.float-right {
    float: right;
    margin-left: 25px;
}

/*Class aiming to change the width, display and margin of the section it is used in*/
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/*Class defining multiple elements of the section for which it is called*/
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/*Class made to be called every time we desire an element to have a 32px margin bpttpm and color*/
/*Since the benefit lead, benefit brand and benefit cost had the same attributes, they were merged into a single class*/
.benefit{
    margin-bottom: 32px;
    color: #ffffff;
}

/*Again, since all three classes were aimed at h3 inside the now merged benefit class, they were all merged into 1*/
.benefit h3 {
    margin-bottom: 10px;
    text-align: center;
}

/*Did the same for img and merged them into 1*/
.benefit img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/*Again, the 3 classes were merged into 1*/
.search{
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/*As search class was merged, we also merged img*/
.search img {
    max-height: 200px;
}

/*As search class was merged, we also merged img*/
.search h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/*We delete the class footer to add the semantic HTML element instead of a footer class in div*/
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h2 {
    font-size: 20px;
}
